<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<p th:text="${errorMsg}" style="color:red;"></p>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${eventDTO.name}" class="form-control">
        </label>
        <p class="error" th:errors="${eventDTO.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${eventDTO.description}" class="form-control">
        </label>
        <p class="error" th:errors="${eventDTO.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${eventDTO.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${eventDTO.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Category
            <select th:field="${eventDTO.categoryId}">
                <option th:each="eventCategory : ${categories}"
                        th:value="${eventCategory.id}"
                        th:text="${eventCategory.name}"
                ></option>
            </select>
            <p class="error" th:errors="${eventDTO.categoryId}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>